html { 
  // background: url(../images/pql_bg_test.jpg) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

body { font: 12px/18px Arial, sans-serif;
min-height: 100%; } 

.medium { font-size: 16px; line-height: 22px; }
.large { font-size: 20px; line-height: 26px; } 

h1 { font-size: 30px; line-height: 36px; }
.medium h1 { font-size: 34px; line-height: 40px; }
.large h1 { font-size: 38px; line-height: 44px; }
h2 { font-size: 24px; line-height: 30px; }
.medium h2 { font-size: 28px; line-height: 34px; }
.large h2 { font-size: 32px; line-height: 38px; }
h3 { font-size: 18px; line-height: 24px; }
.medium h3 { font-size: 22px; line-height: 28px; }
.large h3 { font-size: 26px; line-height: 32px; } 


.tiny{
	font-size: 0.5em;
}
.small{
	font-size: 0.75em;
}
.big{
	font-size:1.4em;
}
.no-style{
	max-height: 200px;
	overflow:hidden;
	padding: 5px;
	margin-bottom: 10px;
}
.grid-img{
	padding:10px;
	margin:10px 0px 10px 0px;
}
.navbar-brand #PQL-Logo{
	width:51px;
	height:20px;
	display: inline-block;
	background-image: url('../images/PQL-mini-logo.gif');
}
.navbar-brand #PQL-Logo:hover{
	background-image: url('../images/PQL-mini-logo-h.gif');
}
.index_page p,
.index_page h2{
	text-align: center;
}
.index_page img{
	padding:5px;
	border: 2px #ccc solid;
	transition: 0.5s;
	-webkit-transition: 0.5s; /* Safari */
}
.index_page img:hover{
	padding:4px;
	border: 3px #aaa solid;
}
#nav-phone{
	color:#fff;
	text-decoration: none;
	margin: 15px 20px;
}
.img-circle{
	margin:auto;
}
.my_bg_circle{
	font-size: 1.5em;
	height:32px;
	width:32px;
	color:#333;
}
.my_footer_circle{
	font-size: 1.5em;
	height:50px;
	width:50px !important;
	color:#333;
	border-radius: 50px;
	background-color: #fff;
	text-align:center;
	padding: 9px 0px;
		opacity: 0.8;
}
.my_footer_circle:hover{
		opacity: 1;
}
#myFooterCarousel .left.carousel-control{
	left:-150px;
}
#myFooterCarousel .right.carousel-control{
	right:-150px;
}
#our_services .well a{
	align:center;
	margin:auto;
}
.mycarousel-item {
	background-color: none !important;
	overflow: hidden;
}
.myimg{
	overflow: hidden;
  display: block;
  width: 1800px;
  height: auto;

}
#our_skills .well{
	min-height:480px;
}
#our_skills .well img{
	margin-bottom: 10px;
}
.myfloat{
	float: left;
	display: inline;
}
.img-fade{
	float: left;
	display: inline;
}
.img-fade img{
	position: relative;
	opacity:0;
	transition:opacity 0.6s;
/* Safari */
	-webkit-transition:opacity 0.6s;
	display: block;
	border-radius: 5px;
	max-height: 250px;
}
.img-fade *:hover{
	opacity:1;
}
#property-insurance-system{
	background-image: url(../images/resorces/property-managment-bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	border-radius: 5px;
}
#DS-colour-labs{
	background-image: url(../images/resorces/DS-colour-labs-logo-bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 5px;
}
#recuitment{
	background-image: url(../images/resorces/recruitment-bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 5px;
}
#trafford-carers-center{
	background-image: url(../images/resorces/trafford-carers-center-bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 5px;
}
.form-control { 
	margin-bottom: 10px;
	opacity: 0.9; 
}
.input-group{
	margin-bottom: 10px;
}
.modal-content{
	background-image: url(../images/resorces/splash-of-colour.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 5px;
}
#contact_modal .modal-header,
#contact_modal .modal-footer{
	background: #eee;
	opacity: 0.9;
}
#contact_modal .modal-header h4,
#contact_modal .modal-header p{
	color: #000;
	opacity: 1;
}
.modal-body{
	background: none;
}
.captalize{
	text-transform: capitalize;
}
.space_5px{
	width:100%;
	margin-bottom:5px;
}
.space_10px{
	width:100%;
	margin-bottom:10px;
}
.space_15px{
	width:100%;
	margin-bottom:15px;
}
.space_20px{
	width:100%;
	margin-bottom:20px;
}
.space_25px{
	width:100%;
	margin-bottom:25px;
}
.space_30px{
	width:100%;
	margin-bottom:30px;
}
.space_35px{
	width:100%;
	margin-bottom:35px;
}
.space_40px{
	width:100%;
	margin-bottom:40px;
}
.space_45px{
	width:100%;
	margin-bottom:45px;
}
.space_50px{
	width:100%;
	margin-bottom:50px;
}
.space_55px{
	width:100%;
	margin-bottom:55px;
}
.space_60px{
	width:100%;
	margin-bottom:60px;
}
.space_65px{
	width:100%;
	margin-bottom:65px;
}
.space_70px{
	width:100%;
	margin-bottom:70px;
}
.space_75px{
	width:100%;
	margin-bottom:75px;
}
.space_80px{
	width:100%;
	margin-bottom:80px;
}
.space_85px{
	width:100%;
	margin-bottom:85px;
}
.space_90px{
	width:100%;
	margin-bottom:90px;
}
.space_95px{
	width:100%;
	margin-bottom:95px;
}
.space_100px{
	width:100%;
	margin-bottom:100px;
}
.space_125px{
	width:100%;
	margin-bottom:125px;
}
.space_150px{
	width:100%;
	margin-bottom:150px;
}
.space_175px{
	width:100%;
	margin-bottom:175px;
}
.space_200px{
	width:100%;
	margin-bottom:200px;
}
.space_250px{
	width:100%;
	margin-bottom:250px;
}
.space_300px{
	width:100%;
	margin-bottom:300px;
}
.edit_table{
	font-size: 1.2em;
	width: 100%;
}
td .formlabel{
	text-align: left !important;
}
.width50{
	width: 48%;
	margin: 1%;
	background-color: #999;
	height:100px;
}
.real_line{
	border-top:1px solid #333;
	margin-bottom: 50px; 
}
.white_right{
	float: right;
	color:#fff;
	font-size: 1.3em;
}
.my-form-control{
	// display: block;
	// width: 100%;
	height: 30px;
	margin-top: 5px;
	// padding: 6px 12px;
	// font-size: 14px;
	// border-radius: 20px;
	// line-height: 1.428571429;
	// color: #555;
	// vertical-align: middle;
	// background-color: #FFF;
	// background-image: none;
	// border: 1px solid #CCC;
	border-radius: 20px;
	// -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	// -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	// transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.white, 
.white a{
	color:#fff;
}
footer,
footer a{
	color:#fff;
}
footer:before {
  clear: both;
}
footer{
	background:#101010;
	opacity: 0.9;
	max-height: 500px;
	position: relative;
	bottom: 0;
	width: 100%;
	clear: both;
}
#myFooterCarousel .thumbnail{
 margin: 10px;
 width:250px;
 height:250px;
}
.mycarousel-item a img{
	border-radius: 10px;
}
#myFooterCarousel{
	margin-top: 50px;
}
.my_nav_colours a{
	color:#999999;
}
.my_nav_colours li a:hover{
	color:#fff;
}
.my_nav_colours{
	color:#fff;
	background: -webkit-linear-gradient(#0068a5, #001e2f); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#0068a5, #001e2f); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0068a5, #001e2f); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0068a5, #001e2f); /* Standard syntax */
	border-color:none;
}