@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
}
#container {
	background-color:#FFF;
	font-size:0.8em;
	margin:0 auto;
	width:1060px;
/*	border-left:2px solid #036;
	border-right:2px solid #036;*/
	padding-bottom:40px;
}
#pagecontent{
	display:inline;
	float:left;
	width: 800px;
	margin-top: 20px;
	margin-left: 20px;
	text-align:left;
}
#logo{
	display:inline;
	float:left;
	margin-left:6px;
	margin-top:6px;
	width:272px;
	height:140px;
	/*background-color:#FFFF99;*/
}
a{
	text-decoration:none;
	color:#666;
}
a:hover{
	color:#09f;
}
#nav{
	float:left;
	display:inline;
	width:200px;
	top:20px;
	left:20px;
	font-size:110%;
	/*background-color:#FFFF99;*/
	padding:20px;
	line-height:1.6em;
}
#nav a{
	text-decoration:none;
	color:#000;
}
#nav a:hover{
	color:#09f;
}
.clearline{
	clear:both;
}
#pagetitle {
	display:inline;
	float:left;
	width: 500px;
	margin-top: 20px;
	margin-left: 0px;
	font-size:110%;
	color:#036;
}
.label {
	color:#036;
	text-align:left;
	vertical-align:top;
}
.formlabel {
	color:#036;
	text-align:right;
	vertical-align:top;
}
ul {
	margin:0;
	padding:0;
}	
li {
	padding-left:10px;
	padding-top:3px;
	list-style-type:none;
}	
.subs {
	font-weight:bold;
}	
.subsub {
	padding-left:30px;
	padding-top:3px;
}	
.catbox {
	float:left;
	display:inline;
	margin:20px 10px 0px 0px;
	width:240px;
	/*min-height:200px;*/
	border:1px solid #e5e5e5;
	font-size:90%;
}
.goright {
	text-align:right;
}
.full_line {
	width:90%;
	height:5px;
	border-bottom:1px solid #CCCCCC;
}
h1 {
	font-size:120%;
	color:#666666;
	font-weight:bold;
	padding:10px;
}
h2 {
	font-size:110%;
	color:#666666;
	font-weight:bold;
	padding:8px;
}
h1 {
	font-size:100%;
	color:#666666;
	font-weight:bold;
	padding:6px;
}
.gofloat{
	display:inline;
	float:left;
	margin-bottom:30px;
	width:94%;
}
.gofloat_nowidth{
	display:inline;
	float:left;
	margin-bottom:30px;
}
.money {
	text-align:right;
	font-size:90%;
}
.longtext {
	font-size:90%;
	font-family:Arial, Helvetica, sans-serif;
}
.small_thumbs {
	display:inline;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #CCC;
	padding:10px;
	font-size:80%;
	color:#666;
	text-align:center;
}
.blueline{
	clear:both;
	height:20px;
	width:100%;
	border-bottom:1px solid #0265a8;
}
.strike {
	text-decoration:line-through;
	color:#930;
}
.complete {
	color:#ccc;
}
.highlight{
	float:left;
	display:inline;
	color:#F00;
	font-size:130%;
	margin-top:20px;
	margin-bottom:20px;
}
#stats_table th{
	max-width:500px;
	font-size:14px;
	font-weight:normal;
	color:#0265a8;
}
#stats_table td{
	text-align:center;
}
.certs_div{
	display:inline;
	float:left;
	margin:30px;
	border:#000 solid 1px;
	padding:10px;
}
.certs_div img{
	max-height:150px;
}
