body{
	margin: 0px;
	padding: 0px;
}
.clearline {
	clear:both;
}
#invoice_content{
	position: absolute;
	width: 94%;
	top: 30px;
	left: 0px;
	text-align:left;	
	font-family:Arial, Helvetica, sans-serif;
}
#logo{
	float:left;
	display:inline;
	width:40%;
	text-align:left;
}
#ft_address{
	float:right;
	display:inline;
	width:40%;	
	font-size:10pt;
	text-align:right;
	margin-bottom:40px;
}
#address{
	float:left;
	display:inline;
	margin-top:50px;
	width:40%;	
	font-size:10pt;
	text-align:left;
}
#order_header{
	float:right;
	display:inline;
	margin-bottom:20px;
	margin-top:20px;
	width:40%;	
	font-size:9pt;
	text-align:right;
}
#order_lines{
	float:left;
	display:inline;
	width:100%;
	font-size:9pt;
	margin:40px 10px;
}
#deladdress{
	float:left;
	display:inline;
	margin-top:20px;
	width:50%;
	text-align:left;
	font-size:8pt;
}
.formlabel {
	padding-right:4px;
	padding-left:4px;
	font-size:9pt;
	text-align:right;
	color:#416FCF;
	height:18px;
}
.label {
	padding-right:4px;
	padding-left:4px;
	font-size:9pt;
	color:#416FCF;
	height:18px;
}
.largelabel{
	padding-left:2px;
	font-weight:bold;
	color:#416FCF;
	font-size:10pt;
}
.longtext{
	padding-left: 2px;
	font-size:9pt;
}
.longtext a{
	text-decoration:none;
	color:#600;
}
