<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<body onLoad="MM_preloadImages('images/join_over.gif')">

<cfif IsDefined("URL.joined") AND URL.joined eq '1'>
	<p>Thank you for joining our mailing list</p>
<cfelseif IsDefined("URL.joined") AND URL.joined eq '0'>
	<p>You are already on our mailing list</p>
<cfelse>
	<p>Enter your email address here to join our mailing list</p>
</cfif>

<form action="join_process.cfm" method="post" enctype="multipart/form-data" name="join_up" id="join_up">
    <input name="jemail" id="jemail" type="text" size="14" onBlur="check_field('email', 'jemail')" />
  <a href="#" onClick="validate_form('jemail','join_up')"><img src="images/join_up.gif" name="join" id="join" onMouseOver="MM_swapImage('join','','images/join_over.gif',1)" onMouseOut="MM_swapImgRestore()" border="0" /></a>
  <input name="goinsert" type="hidden" value="form1" />
<cfif IsDefined("URL.ID")>
  <input name="ID" type="hidden" value="<cfoutput>#URL.ID#</cfoutput>" />
</cfif>

</form>
       