

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!--- Bootstrap ---><script src="js/bootstrap.min.js"></script>
<!-- Less Compiler --><script src="js/less.js" type="text/javascript"></script>
<!--- Lightbox ---><script src="js/lightbox-2.6.min.js"></script>



<script type="text/javascript">


var $j = jQuery.noConflict();



  $j(document).ready(function () {

  $j('#label_html_css').popover('toggle')

  // $j('#main_container').scrollspy({ target: '#mysidenav' }) 

  $j(".navbar-nav li a[href^='#']").on('click', function(e) {

  // prevent default anchor click behavior
  e.preventDefault();

  // store hash
  var hash = this.hash;

  // animate
  $j('html, body').animate({
  scrollTop: $j(this.hash).offset().top
  }, 500, function(){

  // when done, add hash to url
  // (default click behaviour)
  window.location.hash = hash;
  });

  });
  $j("#mysidenav a[href^='#']").on('click', function(e) {

  // prevent default anchor click behavior
  e.preventDefault();

  // store hash
  var hash = this.hash;

  // animate
  $j('html, body').animate({
  scrollTop: $j(this.hash).offset().top
  }, 500, function(){

  // when done, add hash to url
  // (default click behaviour)
  window.location.hash = hash;
  });

  }); 
  $j(".index_page a[href^='#']").on('click', function(e) {

  // prevent default anchor click behavior
  e.preventDefault();

  // store hash
  var hash = this.hash;

  // animate
  $j('html, body').animate({
  scrollTop: $j(this.hash).offset().top
  }, 500, function(){

  // when done, add hash to url
  // (default click behaviour)
  window.location.hash = hash;
  });

  }); 

  // footer carousel - bootsnipp
    $j('#myFooterCarousel').carousel({
      interval: 10000
  })


// thumnail rollover - bootsnipp
    $j("[rel='tooltip']").tooltip();    
 
    $j('.thumbnail').hover(
        function(){
            $j(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $j(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 

  });

</script>

<!--- TEST JS FOR Cart --->
<script src="javascripts/engine.js"></script>
<script src="javascripts/prototype.js"></script>
<script src="javascripts/scriptaculous.js"></script>


<script type="text/JavaScript">
<!--
function updateQTY(qty, id){
  param = new Object();
  param.qty = qty
  param.id = id
  http( 'POST'  , 'update_qty.cfm' , cart_response, param ); 
}
function cart_response(obj){ 
  var thisid = obj.id
  document.getElementById('linetotal'+thisid).innerHTML = obj.linetotal
  document.getElementById('linegoods'+thisid).innerHTML = obj.linegoods
  document.getElementById('linevat'+thisid).innerHTML = obj.linevat
  document.getElementById('goods').innerHTML = obj.goods
  document.getElementById('tvat').innerHTML = obj.tvat
  document.getElementById('subtotal').innerHTML = obj.subtotal
  document.getElementById('carttotal').innerHTML = obj.subtotal
  document.getElementById('ship').innerHTML = obj.ship
  document.getElementById('total').innerHTML = obj.total
}
function updateVat(plist){
  param = new Object();
  param.plist = plist
  http( 'POST'  , 'update_vat.cfm' , vat_response, param ); 
}
function vat_response(){ 
  window.location.reload()
}
//-->
</script>

<script type="text/javascript">

// SHOPPING CART
function cart_go(){
  $(".cartadd").submit() ;
}
function child_cart_go(prodid, child) {
  param = new Object();
  param.prodid = prodid
  param.child = child
  if (child != 9999) {
    param.pqty = document.form3.elements['qty'+child].value;
  }
  http( 'POST'  , 'aj_child_cart.cfm' , child_response, param ); 
}
function child_response(obj){ 
  var rcartval = obj.rcartval
  document.getElementById('cartval').innerHTML = obj.rcartval
  var thiskid = obj.thiskid
  if (thiskid != 0) {
  document.getElementById('carttot').innerHTML = obj.rcartval
  }
  alert("Successfully added to your cart")
}

</script>