<cfquery datasource="#application.dsn#" name="product_pages">
	SELECT * 
	FROM products
	WHERE SEO_URL <> ""
</cfquery>

<cfoutput query="product_pages">

		
		<cffile action = "copy"
		destination="#SEO_URL#"
	    source = "product_detail_template.cfm"
	    nameconflict="overwrite">

</cfoutput>

<cfquery datasource="#application.dsn#" name="category_pages">
	SELECT * 
	FROM categories
	WHERE SEO_URL <> ""
</cfquery>

<cfoutput query="category_pages">

		
		<cffile action = "copy"
		destination="#SEO_URL#"
	    source = "cat_detail_template.cfm"
	    nameconflict="overwrite">

</cfoutput>