<cfparam name="lockout" default="false">
<cfif NOT IsDefined ("session.admininitials") OR session.admininitials eq 999>
<cfparam name="FORM.h4yusername" default="1">
<cfquery name="verifyuser" datasource="#application.dsn#">
SELECT * FROM adminusers WHERE username = '#FORM.h4yusername#' AND password = '#FORM.h4ypasscode#'
</cfquery>

	<cfif verifyuser.RecordCount eq 0>
		<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
	<cfelse>
		<cfset session.adminname = '#verifyuser.firstname#'>
		<cfset session.admininitials = '#verifyuser.initials#'>
		<cfset session.slevel = #verifyuser.slevel#>
		<cfset session.userid = #verifyuser.userid#>
	</cfif>
</cfif>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HPIL_admin.dwt.cfm" codeOutsideHTMLIsLocked="false" -->
<head>
<cfif NOT IsDefined ("session.admininitials") OR session.admininitials eq 999>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Website Admin</title>

<link href="../css/HPIL_admin.css" rel="stylesheet" type="text/css" media="all">


</head>

<body>
<div id="container">
	<div id="logo"><img src="../images/HPIL_logo_gif.gif" /></div>
 	<div class="clearline"></div>
	<div id="nav">
			<cfinclude template="nav_admin.cfm">	
	</div>
	<div id="pagecontent">
	  	<div id="pagetitle">
	  	Administration
      Index 
	  	</div>
<div class="clearline"></div>
		

	</div>
</div>
<div class="clearline"></div>
<!--- end container div --->
</body>
</html>
