<cfsetting showdebugoutput="no" enablecfoutputonly="yes">

<cfquery datasource="#application.dsn#">
UPDATE adminusers SET password = '#FORM.thisvalue#' WHERE userID = #FORM.userid#
</cfquery>
<cfset result = structNew()>

<cfset result.userid = #FORM.userid#>

<cfwddx action="CFML2JS" input="#result#" toplevelvariable="r">	
