<cfsetting showdebugoutput="no" enablecfoutputonly="yes">

<cfquery datasource="#application.dsn#">
UPDATE #FORM.thistable# SET #FORM.thisfield# = #FORM.thisvalue#
WHERE orderid = #FORM.thisid#
</cfquery>

<cfset result = structNew()>

<cfset result = ''>

<cfwddx action="CFML2JS" input="#result#" toplevelvariable="r">	
