<cfsetting showdebugoutput="no" enablecfoutputonly="yes">

<cfset result = structNew()>

<cfset result.showpw = '
	<input type="text" name="password" onChange="updatePW(this.value,' & #FORM.userid# & ')" size="12"/>
'>
<cfset result.userid = #FORM.userid#>

<cfwddx action="CFML2JS" input="#result#" toplevelvariable="r">	
