<cfapplication name="hear4you14" 
    clientmanagement="yes" 
    loginstorage="session"
    sessionmanagement="Yes"
    sessiontimeout="200"
    clientstorage="cookie"
    setdomaincookies="no"
    applicationtimeout="1000"> 
    
<cfif find("localhost", "#CGI.http_host#")>
  
<cfset application.DSN = "h4y_beta">
<cfset application.dsn = "h4y_beta">

<cfelse>

<cfset application.DSN = "hear4you14">
<cfset application.dsn = "hear4you14">

</cfif>

<cfcookie name="CFID" value="#session.CFID#">
<cfcookie name="CFTOKEN" value="#session.CFTOKEN#">
