<cfif IsDefined("session.admininitials") AND session.admininitials neq ''>

	<cfquery datasource="#application.dsn#">
	DELETE FROM product_price_breaks
	WHERE ID = #URL.ID#
	</cfquery>

</cfif>

<cfif IsDefined("URL.clientid") AND URL.clientid neq ''>
	<cflocation url="price_breaks_client_child.cfm?id=#URL.childid#&clientid=#URL.clientid#" addtoken="no">
<cfelse>
	<cflocation url="price_breaks_child.cfm?id=#URL.childid#" addtoken="no">
</cfif>