<cfif IsDefined("session.admininitials") AND session.admininitials neq ''>

	<cfquery datasource="#application.dsn#">
	DELETE FROM product_price_breaks
	WHERE ID = #URL.ID#
	</cfquery>

</cfif>
<cflocation url="price_breaks.cfm?id=#URL.prodid#" addtoken="no">