<cfquery datasource="#application.dsn#">
DELETE
FROM categories
WHERE id = #URL.id#
</cfquery>

<cfquery datasource="#application.dsn#">
DELETE
FROM product_cats
WHERE category_id = #URL.id#
</cfquery>

<cflocation url="categories.cfm" addtoken="no">
