<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HPIL_admin.dwt.cfm" codeOutsideHTMLIsLocked="false" -->
<head>
<cfif NOT IsDefined ("session.admininitials") OR session.admininitials eq 999>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Website Admin</title>

<link href="../css/HPIL_admin.css" rel="stylesheet" type="text/css" media="all">


<cfset tn_path = expandPath("../product-images/certificates/tn/")>
<cfset path = expandPath("../product-images/certificates/")>

 
 

<cfif NOT IsDefined ("session.admininitials")>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>

<cfquery name="getfile" datasource="#application.dsn#">
	SELECT *
 	FROM certificates 
 	WHERE id = #URL.id#
</cfquery>

<cfquery datasource="#application.dsn#">
  DELETE 
  FROM certificates 
  WHERE id = #URL.id#
 </cfquery>

<cftry>
	<cffile action="delete" file="#path##getfile.c_img#">
	<cffile action="delete" file="#path##getfile.c_pdf#">
	<cffile action="delete" file="#tn_path##getfile.c_img#">
<cfcatch type="any"></cfcatch>
</cftry>



 
 <cflocation url="certificates.cfm" addtoken="no">

</head>

<body>
<div id="container">
	<div id="logo"><img src="../images/HPIL_logo_gif.gif" /></div>
 	<div class="clearline"></div>
	<div id="nav">
			<cfinclude template="nav_admin.cfm">	
	</div>
	<div id="pagecontent">
	  	<div id="pagetitle">
	  	header
	  	</div>
<div class="clearline"></div>
		

	</div>
</div>
<div class="clearline"></div>
<!--- end container div --->
</body>
</html>
