<cfif NOT IsDefined ("session.admininitials")>
<cflocation url="index.cfm?passwordcheck=failed">
</cfif>

<cfquery datasource="#application.dsn#">
DELETE
FROM child_products
WHERE id = #URL.id#
</cfquery>

<cflocation url="children_edit.cfm?id=#URL.prodid#" addtoken="no">
