<cfif IsDefined("URL.id") AND URL.id neq ''>
	<cfquery name="thisclient" datasource="#application.dsn#">
	SELECT ID, client_name
	FROM clients
	WHERE id = #URL.id#
	</cfquery>
	
</cfif>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/templates/HPIL_admin.dwt.cfm" codeOutsideHTMLIsLocked="false" -->
<head>
<cfif NOT IsDefined ("session.admininitials") OR session.admininitials eq 999>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Website Admin</title>
<link href="../css/HPIL_admin.css" rel="stylesheet" type="text/css" media="all">




</head>

<body>
<div id="container">
	<div id="logo"><img src="../images/HPIL_logo_gif.gif" /></div>
 	<div class="clearline"></div>
	<div id="nav">
			<cfinclude template="nav_admin.cfm">	
	</div>
	<div id="pagecontent">
	  	<div id="pagetitle">
	  	
		<h1>Delete <cfoutput>#thisclient.client_name#</cfoutput> ?</h1>
  
	  	</div>
<div class="clearline"></div>
		

<p>Deleting a client is permanent. Please confirm deletion here.</p>
<p><a href="client_delete.cfm?id=<cfoutput>#URL.id#</cfoutput>">delete</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="clients.cfm">cancel delete</a>
</p>

	</div>
</div>
<div class="clearline"></div>
<!--- end container div --->
</body>
</html>