<cfif IsDefined("session.admininitials") AND session.admininitials neq ''>

	<cfquery datasource="#application.dsn#">
	DELETE FROM product_price_breaks
	WHERE ID = #URL.ID#
	</cfquery>

</cfif>
<cflocation url="price_breaks_client.cfm?pid=#URL.pid#&cid=#URL.cid#" addtoken="no">