
  <cfquery datasource="#application.dsn#">
    INSERT INTO uploads (filename, filelabel,filetype)
  	VALUES ('Bathroom_Brochure.pdf', 'Bathrooms', 2)
  </cfquery>

  <cfquery datasource="#application.dsn#">
    INSERT INTO uploads (filename, filelabel,filetype)
  	VALUES ('Kitchen_Brochure.pdf', 'Kitchen Ranges', 2)
  </cfquery>
