<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<!---<cfif cgi.HTTPS neq 'on'>

	<cflocation url="https://hear4you.com/admin" addtoken="no">

</cfif>
--->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Website Admin</title>

<link href="../css/HPIL_admin.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="container">
	<div id="logo"><img src="../images/HPIL_logo_gif.gif" /></div>
 	<div class="clearline"></div>
    <div id="pagetitle">Web Admin</div>
	<div id="pagecontent">
 <table width="60%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2">Please enter your admin name and password below </td>
              </tr>
              <tr>
                <td width="59%">&nbsp;</td>
                <td width="41%">&nbsp;</td>
              </tr>
              <tr>
                <td><form name="form1" method="post" action="admin_index.cfm">
                    <table width="93%" border="0" cellspacing="2" cellpadding="2">
                      <tr>
                        <td width="48%">username</td>
                        <td width="8%">&nbsp;</td>
                        <td width="44%"><input name="h4yusername" type="text" id="h4yusername">                        </td>
                      </tr>
                      <tr>
                        <td>password</td>
                        <td>&nbsp;</td>
                        <td><input name="h4ypasscode" type="password" id="h4ypasscode" autocomplete="off">                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="Submit" value="Submit">                        </td>
                      </tr>
                    </table>
                </form></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
          </table>
		  </div>
</div>
<!--- end container div --->
<script type="text/javascript">
        form1.h4yusername.focus();
</script>
</body>
</html>
