<cfif isDefined("URL.id") AND URL.id NEQ "">

<cfquery datasource="#application.DSN#" name="tag_check">
	SELECT *
	FROM meta_tags
	WHERE id = #URL.id#
</cfquery>


<cfquery datasource="#application.DSN#">
	DELETE FROM meta_tags
	WHERE id = #URL.id#
</cfquery>

<cflocation addtoken="false" url="#CGI.http_referer#">
</cfif>