<a href="../index.cfm" target="_blank">Main Site</a><br />
<a href="view_orders.cfm">Orders</a><br />
<a href="products.cfm">View Products</a><br />
<a href="add_product.cfm">Add Product</a><br />
<a href="categories.cfm">Categories</a><br />
<a href="tag_assign.cfm">Manage Tags</a><br />
<a href="page_text_edit.cfm">Page Text</a><br />
<a href="news.cfm">News</a><br />
<a href="faqs.cfm">FAQs</a><br />
<a href="testimonials.cfm">Testimonials</a><br />
<a href="uploaded_files.cfm">Upload Files</a><br />
<a href="Certificates.cfm">Upload Certificates</a><br />
<p><a href="subscribers.cfm">Mailing Subscribers</a></p>
<p><a href="clients.cfm">Clients</a></p>
<p><a href="price_increases.cfm">Increase Prices</a></p>
<cfif IsDefined("session.slevel") AND session.slevel eq 1>
	<p><a href="users.cfm">Admin Users</a></p>
</cfif>
<p><a href="email_index.cfm">Emails</a></p>
<p><a href="questionnaire_analysis.cfm">Questionnaire</a></p>
<p><a href="logout.cfm">Log Out</a></p>