<cfif IsDefined("session.admininitials") AND session.admininitials neq ''>

	<cfquery datasource="#application.dsn#">
	DELETE FROM news
	WHERE ID = #URL.ID#
	</cfquery>

</cfif>
<cflocation url="news.cfm" addtoken="no">