<cfif NOT IsDefined ("session.admininitials")>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>

<cfquery datasource="#application.dsn#">
DELETE FROM products
WHERE id = #URL.ID#
</cfquery>

<cflocation url="products.cfm" addtoken="no">
