<cfif IsDefined("session.admininitials") AND session.admininitials neq ''>

	<cfquery datasource="#application.dsn#">
	DELETE FROM mailing_list
	WHERE ID = #URL.ID#
	</cfquery>

</cfif>

<cflocation url="subscribers.cfm" addtoken="no">