<cfif NOT IsDefined ("session.admininitials")>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>

<cfquery datasource="#application.dsn#">
DELETE FROM tags
WHERE id = #URL.id#
</cfquery>

<cfquery datasource="#application.dsn#">
DELETE FROM products_vs_tags WHERE tag_id = #URL.id#
</cfquery>		

<cflocation url="#CGI.http_referer#" addtoken="no">
