<cfset path = expandPath("../uploaded_files/")>

<cfif NOT IsDefined ("session.admininitials")>
	<cflocation url="index.cfm?passwordcheck=failed" addtoken="no">
</cfif>

<cfquery name="getfile" datasource="#application.dsn#">
SELECT id, filename FROM uploads WHERE ID = #url.id#
</cfquery>

<cfquery datasource="#application.dsn#">
	DELETE FROM uploads WHERE ID = #url.id#
</cfquery>

<cftry>
	<cffile action="delete" file="#path##getfile.filename#">
	
<cfcatch type="any"></cfcatch>
</cftry>

<cflocation url="uploaded_files.cfm" addtoken="no">

